<ion-header class="swiper-no-swiping">
  <ion-toolbar>
    <ion-title class="csstitulo"> Bem-vindo {{nomeGlobal | uppercase}}.</ion-title>
    <button class="cssbutao" (click)="voltarMenu()"><ion-icon name="arrow-back-outline"></ion-icon></button>
  </ion-toolbar>
</ion-header>

<ion-content class="swiper-no-swiping">
  <div class="divSuperior" >
  <ion-button expand="round" [routerLink]="['/menu-avaliador/pesquisar']"><ion-icon slot="start" name="reader-outline"></ion-icon>Avaliar</ion-button>
  <ion-button expand="round" [routerLink]="['/menu-avaliador/gradeamento-avaliador']"><ion-icon slot="start" name="calendar-outline"></ion-icon>Gradeamento</ion-button>
 </div>
</ion-content>
