<ion-header class="swiper-no-swiping">
  <ion-toolbar>
    <ion-title class="csstitulo"> Bem vindo {{nomeGlobal | uppercase}}.</ion-title>
    <button class="cssbutao" (click)="voltarMenu()"><ion-icon name="arrow-back-outline"></ion-icon></button>
  </ion-toolbar>
</ion-header>

<ion-content class="swiper-no-swiping">
  <div class="divSuperior">
  <ion-button expand="round" [routerLink]="['/menu-visitante/informacoes']"><ion-icon slot="start" name="information-outline"></ion-icon>Informações</ion-button> 
  <ion-button expand="round" [routerLink]="['/menu-visitante/localizacao']"><ion-icon slot="start" name="compass-outline"></ion-icon>Localização</ion-button> 
  <ion-button expand="round" [routerLink]="['/menu-visitante/gradeamento']"><ion-icon slot="start" name="calendar-outline"></ion-icon>Gradeamento</ion-button> 
  <ion-button expand="round" [routerLink]="['/menu-visitante/pesquisar']"><ion-icon slot="start" name="ribbon-outline"></ion-icon>Votar</ion-button> 
 </div>
</ion-content>
