<ion-header>
  <ion-toolbar>
    <ion-title class="csstitulo"> Bem vindo {{nomeGlobal | uppercase}}.</ion-title>
    <button class="cssbutao" (click)="voltarMenu()"><ion-icon name="arrow-back-outline"></ion-icon></button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-button expand="round" [routerLink]="['/menu-visitante/informacoes']">Informações</ion-button> 
  <ion-button expand="round" [routerLink]="['/menu-visitante/localizacao']">Localização</ion-button> 
  <ion-button expand="round">Gradeamento</ion-button> 
  <ion-button expand="round">Votar</ion-button> 
  </div>
</ion-content>
