<ion-header>
  <ion-toolbar>
    <button class="cssbutao" (click)="voltarMenu()"><ion-icon name="arrow-back-outline"></ion-icon></button>
    <ion-title>{{tituloGlobal | uppercase}}</ion-title>
    <ion-searchbar  class="cssBusca" placeholder="Digite o Titulo do Trabalho" [(ngModel)]="queryText" 
    (ionInput)="filterTrabalho($event)" clearinput></ion-searchbar> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let trabalho of trabalhos">
      <ion-item style="border-style:ridge; border-color: rgba(0, 0, 0, 0.644); border-radius: 15px; margin-top: 8px; margin-bottom: 8px;">
      <ion-col>
        {{trabalho.titulo}}
      </ion-col>
      <ion-col>
        {{trabalho.data}}
      </ion-col>
    </ion-item>
    </ion-row>
  </ion-grid>
</ion-content>
