#map {
    height: 100%;
  }

  .cssbutao{
    position: absolute;
    left: 0px;
    right: 350px;
    width: 12%;
    margin: 0 auto;
    z-index: 2;
    top: 40%;
    background: #00050e23;
     padding: 0px;
     border-radius: 15px;

}

ion-toolbar{
  --background: #3f87f3;
}

.csstitulo{
  margin: 0 auto;
 // width: 300px;
  padding: 0px;
  text-align: center;
  color: black;
  border-radius: 15px;
 //margin-bottom: 80px;
//width: center;
//text-align: center;
//width: 85%;
}