<ion-header>
  <ion-toolbar>
    <ion-title class="csstitulo">Informações</ion-title>
    <button class="cssbutao" (click)="voltarMenu()"><ion-icon name="arrow-back-outline"></ion-icon></button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divGeral">
  <div class="conteudoSuperior">
    <ion-text>O Congresso Brasileiro de Iniciação Científica - COBRIC tem por objetivo divulgar as pesquisas elaboradas pelos estudantes e dar oportunidade para que o resultado de muito estudo e dedicação dos jovens pesquisadores seja compartilhado com os demais estudantes e professores da Universidade Santa Cecília e outras instituições de ensino superior.</ion-text>
  </div>
  <p>
  </p>
  <div class="enderecoInferior">
    <ion-text>Rua Oswaldo Cruz, 277 | Boqueirão - Santos/SP</ion-text>
  </div>
  <p>
  </p>
  <div class="telefoneInferior">
    <ion-text>Tel: (13) 3202-7100 | FAX: (13) 3234-5297</ion-text>
  </div>
</div>
</ion-content>
