ion-content {
    --background: #6db0ee;
    ion-button{
        --background:#f5f9fd;
          width: 48%;
          margin-left: 2px;
          margin-right: 2px;
          color: black;
          
      }
    ion-header{
        --background: #3f87f3;
        color: black;
        margin-left: auto;
      
    }
    
}
ion-toolbar{
    --background: #3f87f3;
    color: black;

}

.csstitulo{
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    color: black;
    border-radius: 15px;

}
.cssbutao{
    position: absolute;
    left: 0px;
    right: 350px;
    width: 12%;
    margin: 0 auto;
    z-index: 2;
    top: 40%;
    background: #00050e23;
     padding: 0px;
     border-radius: 15px;
}

.conteudoSuperior{
    background: #3f87f371;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0px;
    text-align: center;
    color: black;
    font-size: 19px;
    border-radius: 15px;
}
.enderecoInferior{
    background: #3f87f371;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0px;
    text-align: center;
    color: black;
    font-size: 15px;
    border-radius: 15px;
}
.telefoneInferior{
    background: #3f87f371;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 15px;
    border-radius: 15px;
}
